Baseline/Moss/Data/*Sort/a.out
Baseline/ExecTime/a.out
Baseline/Moss/Data/BubbleSort/Array1.txt
Baseline/Moss/Data/BubbleSort/input*
Baseline/ExecTime/*_sort
Baseline/ExecTime/Input/input*
tbcnn/vectorizer/__pycache__
tbcnn/vectorizer/ast2vec/__pycache__
tbcnn/vectorizer/logs

Execution/Input/
!Execution/Input/gen-input.py
